%custom-mono-font {
    font-family: 'PT Mono', monospace;
    color: black;
    transition: border-bottom 2s ease-out, color 2s ease-out;

    &:hover {
        border-bottom: 3px solid $couleur_feu;
        color: $couleur_feu;
    }
}
